config HUAWEI_ACCEL_SENSORS_KIONIX
        tristate "ROHM_KX023 3-axis digital acceleromater"
        depends on I2C
	default n
        help
          Say Y here if you want to support ROHM_KX023 accelerometer connected via an I2C bus.
          to compile this driver as a module, choose M here: the module will be called kionix_accel.
 
config HUAWEI_ACCEL_SENSORS_LIS3DH
        tristate "ST LIS3DH 3-axis digital acceleromater"
        depends on I2C
        default n
	help
          Say Y here if you want to support STMicroelectronics LIS3DH accelerometer connected via an I2C bus.
          to compile this driver as a module, choose M here: the module will be called lis3dh_acc.

