#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config HUAWEI_KERNEL
	bool "Use huawei code"
	default y
	help
	use huawei code

config HUAWEI_KERNEL_DEBUG
	bool "Use Huawei kernel debug mode"
	depends on HUAWEI_KERNEL
	default n
	help
	  Enable sysrq, dump mode and some debug masks by default.

config SELINUX_DMD_REPORT
	bool "Use selinux dmd report function"
	depends on HUAWEI_KERNEL
	default n
	help
	  Enable selinux dmd report function.

source "arch/$SRCARCH/Kconfig"
