config HUAWEI_HALL_SENSORS_AK8789
        tristate "Support for hall sensor AK8789"
        depends on HUAWEI_KERNEL
        default n
        help
          Say Y to enable support ak8789 hall sensor
