#
# FOR HUAWEI FACTORY INFO
#

config HUAWEI_FACTORY_INFO
	default y
	depends on  HUAWEI_KERNEL
	bool "HUAWEI Factory INFO"
	help
		Say yes if you want enable factory info driver.
		This is for distinguish the different product . If unsure, say Y here.
