/{
	usbswitch: usbswitch {
		compatible = "huawei,usbswitch";
		gpio_switch_back = "-1";
		status = "ok";
	};
};

&soc {
	i2c@78b6000{
		fairchild_fsa9685: fsa9685@25 {
			compatible = "huawei,fairchild_fsa9685";
			reg = <0x25>;
			fairchild_fsa9685,gpio-intb = <&msm_gpio 118 0>;
			status = "ok";
		};
	};
};

&soc {
	i2c@78b6000{
		fairchild_fsa9686: fsa9686@26 {
			compatible = "huawei,fairchild_fsa9686";
			reg = <0x26>;
			fairchild_fsa9685,gpio-intb = <&msm_gpio 118 0>;
			status = "ok";
		};
	};
};

&usb_otg {
	qcom,hsusb-otg-mode = <3>;
	vbus_otg-supply = <&bq24296_otg_supply>;
	qcom,hsusb-otg-phy-init-seq =
		<0x74 0x80 0x6F 0x81 0x35 0x82 0x23 0x83 0xffffffff>;
	qcom,hsusb-otg-phy-init-seq-host =
		<0x74 0x80 0x22 0x81 0x35 0x82 0x23 0x83 0xffffffff>;
};
