config HUAWEI_COMPASS_SENSORS_AKM09911
        tristate "AKM09911 3-axis electronic compass sensor driver"
        depends on I2C
        default n
	help
          Say Y here if you want to enable the akm09911 ecompass sensor driver.
          to compile this driver as a module, choose M here: the module will be called akm09911.
